.homes {
  background-color: var(--color-bg-main);
  order: 3;
}

.homes__wrapper {
  position: relative;
}

.homes__cards {
  position: relative;
}

.homes__arrow-btn {
  top: 30%;
  right: -18px;
}

@media (max-width: 480px) {
  .homes__arrow-btn {
    top: 28%;
    right: -12px;
  }
}
