.sign-up {
  order: 5;
}

.sign-up__container {
  padding-top: 0;
  padding-bottom: 0;
}

.sign-up__wrapper {
  background-color: var(--color-bg-main);
  padding: 51px 80px 52px 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
}

.sign-up__img-wrapper {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-color: var(--color-general-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 21px;
}

.sign-up__button {
  min-width: 128px;
  padding: 12px;
  color: var(--color-accent-blue);
  background-color: var(--color-general-white);
  font-size: 18px;
}

.sign-up__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
}

.sign-up__close-img {
  width: 26px;
  height: 26px;
}

.sign-up__close-img:hover {
  animation: rotate-btn 0.3s linear alternate-reverse;
}

.sign-up__wrapper._mobile {
  display: none;
}

@media (max-width: 768px) {
  .sign-up__wrapper {
    padding: 51px 51px 32px 24px;
  }

  .sign-up__img-wrapper {
    display: none;
  }

  .sign-up__title {
    font-size: 19px;
    line-height: 1.2;
  }

  .sign-up__button {
    height: 48px;
  }

  .sign-up__close-img {
    width: 20px;
    height: 20px;
    top: var(--unit);
    right: var(--unit);
  }
}

@media (max-width: 480px) {
  .sign-up {
    order: 6;
  }

  .sign-up__wrapper._desktop {
    display: none;
    background-color: var(--color-general-white);
  }

  .sign-up__wrapper._mobile {
    display: flex;
    gap: 16px;
    padding: 24px 0;
    background-color: transparent;
  }

  .sign-up__close-btn--m {
    margin-right: -3px;
  }

  .sign-up__close-img--m {
    width: 16px;
    height: 16px;
  }

  .sign-up__title--m {
    min-width: 164px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    margin-bottom: 0;
  }

  .sign-up__link--m {
    color: var(--color-accent-blue);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding-right: 4px;
  }
}
