.button--reset {
  border-style: none;
  background: none;
  padding: 0;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

.button {
  min-width: var(--button-width);
  padding: var(--button-pad);
  border-radius: 8px;
  border: 2px transparent solid;
  font-size: var(--button-font-size);
  line-height: 1.1;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.button--standard {
  color: var(--text-color);
  background-color: var(--color-stroke);
}

.button--standard:hover {
  border-radius: 0;
  background-color: #dbdbdc;
}

.button--active {
  background-color: var(--color-accent-blue);
  color: var(--color-general-white);
}

.button--active:hover {
  color: var(--color-general-white);
  background-color: var(--color-general-blue);
}

.button--card-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  min-width: 128px;
  padding: 12px;
  color: var(--color-accent-blue);
  background-color: var(--color-general-white);
  border: 1px solid var(--color-stroke);
  margin: 10px 20px;
}

.button--card-type:hover {
  color: var(--color-general-white);
  background-color: transparent;
}

.button--action-type {
  background-color: transparent;
  border: 1px solid var(--color-accent-blue);
}

.button--action-type:hover {
  background-color: var(--color-accent-blue);
  color: var(--color-general-white);
}

@media (max-width: 768px) {
  .button {
    font-weight: 400;
    line-height: 1.05;
  }
}

@media (max-width: 480px) {
  .button {
    border-radius: 4px;
  }

  .button--m {
    background-color: var(--color-general-white);
    border: 1px solid var(--color-stroke);
  }
}
