.home__wrapper {
  overflow: hidden;
}

.home__img {
  max-width: 296px;
  width: 100%;
  aspect-ratio: 1 /1;
  margin-bottom: var(--image-mg-bottom);
  transition: transform ease-in-out 0.3s;
}

.home:hover .home__img {
  transform: scale(1.05);
}

.home__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.16;
  color: var(--color-accent-blue);
  margin-bottom: 24px;
}

.home__location {
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 4px;
  color: var(--color-secondary-text);
}

@media (max-width: 1024px) {
  .home:nth-child(3),
  .home:nth-child(4) {
    display: none;
  }
}

@media (max-width: 768px) {
  .home__title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 14px;
  }

  .home__location {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media (max-width: 480px) {
  .home__img {
    margin-bottom: 5px;
  }

  .home__title {
    font-size: 12px;
    line-height: 1.171;
    margin-bottom: 4px;
  }

  .home__location {
    max-width: 154px;
    font-size: 12px;
    line-height: 1.16;
    margin-bottom: 0;
  }
}
